<div class="container">
	<div class="ms-paper">
		<div class="row">
			<side-menu></side-menu>

			<div class="col-md-9 ms-paper-content-container">
				<div class="ms-paper-content">
					<h1>My Orders</h1>	

					<div class="card card-primary">
						<div class="card-header">
                  			<h3 class="card-title">
                        		<i class="zmdi zmdi-graduation-cap"></i> My Orders</h3>
                		</div>
					    <table class="table table-no-border table-striped table-hover table-clickable">
					        <thead>
					        	<tr>
					        		<th>Name</th>
					        		<th>Date Created</th>
					        	</tr>
				        	</thead>
				        	<tbody>
				        		<tr *ngFor="let order of orders" (click)="redirectToOrder(order._id)">
		        					<td>{{order.name}}</td>
		        					<td>{{order.createdDate | date: 'dd/MM/yyyy H:mm:ss'}}</td>
				        		</tr>
				        	</tbody>
					    </table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>