<div class="ms-hero ms-hero-material">
	<span class="ms-hero-bg"></span>
	<div class="container">
	  <div class="col-lg-6 col-md-7">
	    <div id="carousel-hero" class="carousel slide carousel-fade" data-ride="carousel" data-interval="20000">
	      <!-- Wrapper for slides -->
	      <div class="carousel-inner" role="listbox">
	        <div class="item active">
	          <div class="carousel-caption">
	            <div class="ms-hero-material-text-container">
	              <header class="ms-hero-material-title animated slideInLeft animation-delay-5">
	                <h1 class="animated fadeInLeft animation-delay-15 font-smoothing">Ordering in a group, made <strong>simple</strong></h1>
	                <h2 class="animated fadeInLeft animation-delay-18">The <span class="color-warning">easiest</span> way to order food in a group</h2>
	              </header>
	              <ul class="ms-hero-material-list">
	                <li class="">
	                  <div class="ms-list-icon animated zoomInUp animation-delay-18">
	                    <span class="ms-icon ms-icon-circle ms-icon-xlg color-warning shadow-3dp">
	                      <i class="fa fa-users"></i>
	                    </span>
	                  </div>
	                  <div class="ms-list-text animated fadeInRight animation-delay-19">Group up with your friends and easily order</div>
	                </li>
	                <li class="">
	                  <div class="ms-list-icon animated zoomInUp animation-delay-20">
	                    <span class="ms-icon ms-icon-circle ms-icon-xlg color-success shadow-3dp">
	                      <i class="fa fa-mobile"></i>
	                    </span>
	                  </div>
	                  <div class="ms-list-text animated fadeInRight animation-delay-21">Order on your own device, no need to pass the phone around</div>
	                </li>
	                <li class="">
	                  <div class="ms-list-icon animated zoomInUp animation-delay-22">
	                    <span class="ms-icon ms-icon-circle ms-icon-xlg color-danger shadow-3dp">
	                      <i class="fa fa-cutlery"></i>
	                    </span>
	                  </div>
	                  <div class="ms-list-text animated fadeInRight animation-delay-23">Be as greedy as you like, they won't judge you until it arrives</div>
	                </li>
	              </ul>
	            </div>
	            <!-- ms-hero-material-text-container -->
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="col-lg-6 col-md-5">
	    <div class="ms-hero-img animated zoomInUp animation-delay-30">
	      <img src="assets/img/demo/mock-imac-material2.png" alt="" class="img-responsive">
	      <div id="carousel-hero-img" class="carousel carousel-fade slide" data-ride="carousel" data-interval="3000">
	        <!-- Indicators -->
	        <ol class="carousel-indicators carousel-indicators-hero-img">
	          <li data-target="#carousel-hero-img" data-slide-to="0" class="active"></li>
	          <li data-target="#carousel-hero-img" data-slide-to="1"></li>
	          <li data-target="#carousel-hero-img" data-slide-to="2"></li>
	        </ol>
	        <!-- Wrapper for slides -->
	        <div class="carousel-inner" role="listbox">
	          <div class="ms-hero-img-slider item active">
	            <img src="assets/img/demo/hero1.png" alt="" class="img-responsive"> </div>
	          <div class="ms-hero-img-slider item">
	            <img src="assets/img/demo/hero3.png" alt="" class="img-responsive"> </div>
	          <div class="ms-hero-img-slider item">
	            <img src="assets/img/demo/hero2.png" alt="" class="img-responsive"> </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- container -->
</div>

<div class="container mt-6">
	<h2 class="text-center color-primary mb-2 wow fadeInDown animation-delay-4">What do we do?</h2>
	<p class="lead text-center aco wow fadeInDown animation-delay-5 mw-800 center-block mb-4"> Lorem ipsum dolor sit amet,
	  <span class="color-primary">consectetur adipisicing</span> elit. Dolor alias provident excepturi eligendi, nam numquam iusto eum illum, ea quisquam.</p>
	<div class="row">
	  <div class="col-md-3">
	    <div class="card card-info wow zoomInUp animation-delay-5">
	      <div class="bg-info">
	        <img src="assets/img/demo/m1.png" alt="..." class="img-avatar-circle"> </div>
	      <div class="card-block pt-4 text-center">
	        <h4 class="color-info">A Feature Title</h4>
	        <p>Eaque repellendus nemo deserunt qui sequi laborum officiis assumenda caecati.</p>
	        <a href="javascript:void(0)" class="btn btn-info">
	          <i class="zmdi zmdi-star"></i> Action here</a>
	      </div>
	    </div>
	  </div>
	  <div class="col-md-3">
	    <div class="card card-danger wow zoomInUp animation-delay-6">
	      <div class="bg-danger">
	        <img src="assets/img/demo/m2.png" alt="..." class="img-avatar-circle"> </div>
	      <div class="card-block pt-4 text-center">
	        <h4 class="color-danger">A Feature Title</h4>
	        <p>Eaque repellendus nemo deserunt qui sequi laborum officiis assumenda caecati.</p>
	        <a href="javascript:void(0)" class="btn btn-danger">
	          <i class="zmdi zmdi-star"></i> Action here</a>
	      </div>
	    </div>
	  </div>
	  <div class="col-md-3">
	    <div class="card card-warning wow zoomInUp animation-delay-7">
	      <div class="bg-warning">
	        <img src="assets/img/demo/m3.png" alt="..." class="img-avatar-circle"> </div>
	      <div class="card-block pt-4 text-center">
	        <h4 class="color-warning">A Feature Title</h4>
	        <p>Eaque repellendus nemo deserunt qui sequi laborum officiis assumenda caecati.</p>
	        <a href="javascript:void(0)" class="btn btn-warning">
	          <i class="zmdi zmdi-star"></i> Action here</a>
	      </div>
	    </div>
	  </div>
	  <div class="col-md-3">
	    <div class="card card-success wow zoomInUp animation-delay-8">
	      <div class="bg-success">
	        <img src="assets/img/demo/m4.png" alt="..." class="img-avatar-circle"> </div>
	      <div class="card-block pt-4 text-center">
	        <h4 class="color-success">A Feature Title</h4>
	        <p>Eaque repellendus nemo deserunt qui sequi laborum officiis assumenda caecati.</p>
	        <a href="javascript:void(0)" class="btn btn-success">
	          <i class="zmdi zmdi-star"></i> Action here</a>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<div class="container mt-4" *ngIf="loggedIn">
    <div class="row">
      <p>Hello {{name}}</p>
    </div>
</div>

<div class="container mt-4" *ngIf="!loggedIn">
    <div class="row">
      <div class="col-md-5 col-md-push-7">
        <div class="card card-primary animated fadeInUp animation-delay-7">
          <div class="card-block">
            <h1 class="color-primary text-center">Login</h1>
            	<login></login>
          </div>
        </div>
      </div>
      <div class="col-md-7 col-md-pull-5">
        <div class="card card-primary animated fadeInUp animation-delay-7">
          <div class="card-block">
          <h1 class="color-primary text-center">Register</h1>
            <register-user></register-user>
          </div>
        </div>
      </div>
    </div>
</div>